{% extends "rolling_work/layout.html" %}

{% block body %}  
<div class="about-area">
    <h2 class="account-title">About</h2>
    <div>
        <h5>Guide</h5>
        <p>
            No matter you are preparing for 112 GSAT, studying for the final exam one week away, or 
            you just want to determine your working efficiency, Rolling Work is an ideal tool for you.
            Click 'Timer', you will see a clock and some buttons. With each click on 'roll' button, you 
            will switch betweeen work and rest, and the app will record it. At the end of work, after you
            click save(login needed) button, you will get a record of work today. Moreover, you can see your 
            history record on at your profile page. With this tool, hope you have a efficient day!
        </p>
    </div>
    <div>
        <h5>About Rolling Work</h5>
        <p>
            2022 spring is my last year at high school. Thus, I have a long summer this year. To fill the blank,
            I started to take cs50w online course to learn web development. Through this course, I learned a lot, and 
            I couldn't to startup a project to sharpen my skills. At this moment, I saw a 
            <a href="https://youtu.be/VVhgJFlilF0?t=465" target="_blank">video</a> made by my future senior
            brother in college whcih is about how he study. He used timer app in tablet and utilize 'lap time' function 
            to record the length of time he breaks and works. I tried the method, too. But I found out that it's hard to 
            recognized one period of time is rest or work. Then I decided to develop my own tool to help me study. Thus, 
            Rolling Work was born!
        </p>
    </div>
    <div>
        <h5>About Me</h5>
        <p>
            I am a pre-freshman now. I used to participate in competitive programming contest, but I' not really good at it.
            Currently, I'm learning web develpment, and this is my first big project! Here is my 
            <a href="https://github.com/tars3017" target="_blank">GitHub link</a>, and if you want 
            to give feedback or some issue occurs, send message to <span id="email-name">rollingworkofficial@gmail.com.</span> Thank you for using this app, 
            to support my work, you can turn off ad block app.
        </p>
    </div>
</div>
{% endblock %}
