{% extends "rolling_work/layout.html" %}

{% block body %} 
    <div class="account-area">
        <h2 class="account-title">Login</h2>
        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div>
                <input autofocus type="text" name="username" placeholder="Username" class="btn" style="color: rgb(178, 236, 225);">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" class="btn" style="color: rgb(178, 236, 225);">
            </div>
            <input type="submit" value="Login" class="btn" style="color: rgb(178, 236, 225);">
        </form>

        <div class="account-link">Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>
    </div>
    

{% endblock %}