.Nav {
    background-color: #23967f;
    height: 100px;
}
.Nav a {
    font-size: 25px;
    color: #ddfff7;
}
@media (min-width: 600px) {
    .Nav a:hover {    
        font-size: 35px;
        color: #ffa69e;
        transition-duration: 0.5s;
    }
    .Nav a:not(hover) {
        transition-duration: 1s;
        font-size: 30px;
        color: #ddfff7;
    }
}
@media (max-width: 599px) {
    .Nav a:hover {    
        font-size: 21px;
        color: #ffa69e;
        transition-duration: 0.5s;
    }
    .Nav a:not(hover) {
        transition-duration: 1s;
        font-size: 16px;
        color: #ddfff7;
    }
}


.time-area {
    font-size: 50px;
}

#smoke {
    animation: float 2s alternate infinite;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes float {
    0%{
        transform: scale(1, 1); 
    }
    50% {
        transform: scale(0.9, 0.9) translate(-5px, -3px);
    }
    100% {
        transform: scale(1.1, 1.05) translate(7px, 3px);
    }
}

#spaceship {
    animation: shake 1.5s infinite;
    transform-origin: center;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#snowman_head {
    animation: nod 1s alternate infinite;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes nod {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        transform: rotate3d(0, 1, -0.2, 20deg);
    }
}

#snow_flake {
    animation: fall 5s linear infinite;
}
@keyframes fall {
    0% {transform: translate(0px, 0px); opacity: 0.4;}
    25% {transform: translate(0px, 200px); opacity: 0.7;}
    50% {transform: translate(1px, 400px); opacity: 0.9}
    100% { transform: translate(-1px, 810px); opacity: 1;}
}
body {
    background-color: rgb(33, 26, 29);
    font-family: 'Times New Roman', cursive;
}
/* @media (min-width: 600px) {
    body {
        background-color: rgb(33, 26, 29);
        font-family: 'Times New Roman', cursive;
    }
}
@media (max-width: 599px) {
    body {
        background-color: rgb(221, 101, 153);
        font-family: 'Times New Roman', cursive;
    }
} */


.record-card {
    text-align: center;
    background-color: rgb(22, 213, 213);
    box-shadow: 0 0 3px 5px rgba(184, 242, 230, 0.5);
    width: 500px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 24px;
    color: rgb(16, 29, 66);
    border-radius: 10px;

    animation: grow 0.7s linear;
}
@keyframes grow{
    0% {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        height: 0%;
        line-height: 0%;
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgb(236, 167, 44);
    }
    1% {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        margin-bottom: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
        line-height: 100%;
        font-size: 24px;
        
        background-color: rgb(236, 167, 44);
        
    }
    2% {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        height: 100%;
        line-height: 100%;
        margin-bottom: 28px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(236, 167, 44);
        box-shadow: 0 0 3px 5px rgba(184, 242, 230, 0.6);
        width: 500px;
        font-size: 24px;
    }
    100% {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 100%;
        line-height: 100%;
        margin-bottom: 30px;
        background-color: rgb(22, 213, 213);
        box-shadow: 0 0 3px 5px rgba(184, 242, 230, 0.6);
        width: 500px;
        font-size: 24px;
    }
}
#cur_time {
    color: rgb(86, 203, 249);
    text-shadow: 2px 2px 3px rgb(219, 216, 240);
    font-family: cursive;
    font-size: 80px;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    border-radius: 13px;
    box-shadow: 0 0 3px 3px rgba(179, 233, 199, 0.5);
    color: rgb(52, 52, 52);
}
.card-analyze {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(154, 225, 157, 0.12);
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    
    justify-content: center;
    /* width: 1000px; */
}
.card-analyze > div > div{  
    border-radius: 25px;
    background-color: rgb(217, 255, 248);
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
    color: rgb(97, 112, 125);
    box-shadow: 0 0 10px 1px rgba(216, 255, 221, 0.8);
}   
.card-analyze > div > div > h5 {
    font-size: 30px;
}
.card-analyze > div > div > p {
    font-size: 35px;
}
.record-time {
    font-size: 30px;
    color: rgb(217, 255, 248);
    text-shadow: 1px 1px 3px rgb(219, 216, 240);
    margin-bottom: 30;
}

.account-area {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    font-size: 33px;
    color: rgb(140, 222, 220);
    /* text-align: center; */
}
.account-title {
    
    text-shadow: 2px 3px 5px rgba(33, 145, 251, 0.7);
    font-size: 50px;
}
.account-area > form > div {
    margin-top: 20px;
    margin-bottom: 20px;
}
.account-link {
    margin-top: 15px;
    font-size: 28px;
}

.about-area {
    margin-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
    display: grid;
    justify-content: left;
    /* background-color: aqua; */
    color: rgb(51, 161, 253);
}
.about-area > div {
    text-shadow: 1px 1px 3px rgba(38, 240, 241, 0.3);
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-area > div > h5 {
    font-size: 30px;
    color: rgb(201, 215, 248);
}
.about-area > div > p {
    font-size: 28px;
}
.about-area > div > p > a, #email-name {
    color: rgb(247, 152, 36);
}

.error-msg {
    color:rgb(86, 203, 249);
}
